@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #41295a;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
  font-size: 16px;
  color: #fff;
}

small {
  font-size: 20px;
  color: #000;
}

ul {
  color: #fff;
}

main {
  min-height: 80vh;
}

button {
  cursor: pointer;
}

.nav-brand {
  font-family: 'Major Mono Display', monospace;
  color: #03ffc5;
}

.nav-text {
  font-weight: bold;
}

.logo {
  max-width: 8%;
}

.hero-heading {
  margin-top: 90px;
  font-family: 'Major Mono Display', monospace;
  font-weight: bolder;
  font-size: 45px;
  color: #03ffc5;
}

.home-img {
  width: 50%;
}

.home-section-img {
  width: 60%;
}

.home-section-1 {
  margin-top: 20px;
}

.home-section-3 h6 {
  color: #03ffc5;
}

.home-section-3 h3 {
  color: #03ffc5;
}

.home-card {
  border: 1px solid #fff;
  padding: 3rem;
  min-height: 250px;
}

.home-card:hover {
  border-color: #FF2A6D;
}

.home-section-3 {
  margin-top: 20px;
}

.wrapper {
  margin-top: 60px;
}

.footer-img {
  max-width: 10%;
}

.main-card  {
  display: flex;
  min-height: 200px;
}

/* .card-link {
  display: flex;
} */

.main-card h3 {
  color: #03ffc5;
}

.main-card img {
  width: 20%;
  max-height: 210px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.ethereum {
  max-width: 20%;
}

.blockchain-img {
  max-width: 90%;
}

@media(max-width: 600px) {
  .home-section-2 {
    flex-direction: column-reverse;
  }

  .home-card {
    margin-bottom: 20px;
  }

  .hero-heading {
    font-size: 42px;
  }
}

@media(max-width: 1024px) {
  .card-link {
    display: flex;
    flex-direction: column;
  }
}